set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=1
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'RHEL-7.4 Server.x86_64'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Install {{ ansible_distribution }}' --class fedora --class gnu-linux --class gnu --class os {
        echo "Loading vmlinuz"
        linuxefi /vmlinuz inst.ks=http://{{ server_ip }}/ks/uefi/{% if item is defined %}{{ item }}.cfg{% else %}{{ kick_cfg }}{% endif %}

        echo "Loading initrd.img"
        initrdefi /initrd.img
}
